body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.top_part{
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 2%;
}
.glyphicon-remove{
	color: tomato !important;
}
.glyphicon-remove:hover{
	color: red !important;
}

.glyphicon-edit{
	color: #FABE58 !important;
}
.glyphicon-edit:hover{
	color: #E87E04 !important;
}
.glyphicon-ok{
	color: #26A65B !important;
}
.glyphicon-ok:hover{
	color: green !important;
}


